<h1>Rock Paper Scissors</h1>
<form action="/results">
  <div class="form-group">
    <label for="player_one">Player 1 Make Your Selection:</label>
    <select class="form-control" name="player_one" id="player_one">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
  </div>
  <div class="form-group">
    <label for="player_two">Player 2 Make Your Selection:</label>
    <select class="form-control" name="player_two" id="player_two">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger">See the Winner!</button>
</form>
